body{font-family: 'Lato', sans-serif;}


.bg-rect{fill: $background}
.grid { stroke-opacity: .3; }
.axis line, .axis.xaxis path { fill: none; stroke: $xAxis; shape-rendering: crispEdges; }
.tick text { font: 10px sans-serif; fill: $xAxis; stroke-opacity: .3; }
.axis.yaxis path { fill: none; stroke: $background; }

.bands rect {  fill-opacity: 0; stroke-opacity: 0; pointer-events: all; shape-rendering: crispEdges; }
.bands .hoved { fill-opacity: .6; }
.sticks rect { pointer-events: none; shape-rendering: crispEdges; }
.sticks .rise, .candles .rise { fill: $candleRaise; } 
.sticks .fall, .candles .fall { fill: $candleFall; }

.candles rect { pointer-events: none; shape-rendering: crispEdges; }
.barbar rect { pointer-events: none;fill:$volumeBar; }
