html {
    width: 100%;
}

.bg-rect {
    fill: $background;
}

.bids {
    fill: $bids;
}

.asks {
    fill: $asks;
}


.x-axis path,
.x-axis line {
    fill: none;
    /* stroke: grey; */
    stroke: $xAxis;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
