body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.line0{
  /* stroke: orange; */
  stroke: $color1;
}
.line1{
  stroke: $color2;
}
.line2{
  stroke: $color3;
}
.line3{
  stroke: $color4;
}
.line4{
  stroke: $color5;
}

.color0{
  stroke: $color1;
  fill: $color1;
}
.color1{
  stroke: $color2;
  fill: $color2;
}
.color2{
  fill: $color3;
  stroke: $color3;
}
.color3{
  fill: $color4;
  stroke: $color4;
}
.color4{
  fill: $color5;
  stroke: $color5;
}



.axis path,
.axis line {
    fill: none;
    stroke: $xAxis;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.bg-rect{fill: $background}